<% if @profiles.any? %>
	<table width="100%" cellspacing="0">
		<% @profiles.each do |profile| %>
			<tr class="<%= cycle("even", "odd") %>">
				<td id="picture">
					<% if profile.profile_images.any? %>
						<%= image_tag profile.profile_images.first.url, :size => "90x90" %>
					<% else %>
						No pic.
					<% end %>
				</td>
				<td id="profile">
					<span class="headline"><%= profile.headline %></span><br/>
					<b><%= profile.nickname %>, Age <%= age(profile.date_of_birth) %>, 
						from <%= city_from_zip(profile.zip_code) %></b>
					<p><%= profile.description.truncate(desc_char_limit) %></p>
				</td>
				<td id="contact-via">
					<% if profile.profile_urls.any? %>
						<b>Contact Via:</b><br/>
						<% profile.profile_urls.each do |url| %>
							<a href="<%= "/profiles/#{url.profile_id}/clickout" %>" class="button" target="_blank">
								<span id="contact-via"><%= url.display_name %></span>
							</a><br/>
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	No Results Found.
<% end %>
