<% if @profiles.any? %>
	<table width="100%">
		<% @profiles.each do |profile| %>
			<tr>
				<td width="10%">
					<% if profile.profile_images.any? %>
						<% profile.profile_images.each do |image| %>
							<%= image_tag image.url %>
						<% end %>
					<% else %>
						No pic.
					<% end %>
				</td>
				<td id="profile">
					<span class="headline"><%= profile.headline %></span><br/>
					<b><%= profile.nickname %>, Age <%= age(profile.date_of_birth) %>, 
						from <%= cityFromZip(profile.zip_code) %></b>
					<p><%= profile.description %></p>
				</td>
				<td id="contact-via">
					<% if profile.profile_urls.any? %>
						<b>Contact Via:</b><br/>
						<% profile.profile_urls.each do |url| %>
							<%= link_to url.display_name, "#{url.profile_id}/clickout", :target => "_blank" %><br/>
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	No Results Found.
<% end %>
