<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %></div>
  <%= f.email_field :email %></p>

  <div><%= f.label :password, 'New Password' %> <i>(leave blank if you don't want to change it)</i></div>
  <%= f.password_field :password %></p>

  <div><%= f.label :password_confirmation, 'New Password Confirmation' %></div>
  <%= f.password_field :password_confirmation %></p>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></div>
  <%= f.password_field :current_password %></p>
  
  <%= render :partial => "devise/shared/additional_fields", :locals => { :f => f, :ethnicity => resource.ethnicity } %>

  <p><%= f.submit "Update", :class => "submit" %></p>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
