<p>
	<%= link_to "How It Works", root_path %> | 
	<%= link_to "Home", root_path %> | 
	<%= link_to "Terms Of Service", "http://" %> | 
	<%= link_to "Contact Us", "http://" %> 
</p>
<p>
	©2011 DateCombinator
</p>

<%= image_tag "1x1.png", :class => 'footer-logo', :alt => 'Date Combinator' %>