<p>
	<%= link_to "Search", root_path %> | 
	<%= link_to "How It Works", learn_path %> | 
	<%= link_to "Terms Of Service", "http://" %> | 
	<%= link_to "Contact Us", "http://" %>
</p>
<p>
	©2011 Datecombinator, LLC - the dating search engine
</p>

<%= image_tag "1x1.png", :class => 'footer-logo', :alt => 'Date Combinator' %>