<%= form_tag(profiles_search_path, :method => "get", :remote => true, :id => 'search-form') do %>
	<div>
		<%= label_tag(:gender, "I am a ") %>
		<%= select_tag(:gender, options_for_select(gender_list)) %>
		<%= label_tag(:seeking_gender, " Seeking a ") %>
		<%= select_tag(:seeking_gender, options_for_select(gender_list, 'female')) %>
		
		<%= label_tag(:ethnicity, " of Ethnicity ") %>
		<%= select_tag(:ethnicity, options_for_select(ethnicity_list_with_blank)) %>
		
		<%= label_tag(:age_from, " from Age ") %>
		<%= select_tag(:age_from, options_for_select(age_range)) %>
		<%= label_tag(:age_to, " to ") %>
		<%= select_tag(:age_to, options_for_select(age_range)) %>
	</div>
	<div style="margin-top: 10px;">
		<%= label_tag(:within, " lives Within ") %>
  		<%= select_tag(:within, options_for_select(distance_list)) %>
  		<%= label_tag(:zip_code, " of Zip Code ") %>
  		<%= text_field_tag(:zip_code, nil, :size => 5) %>
  		<div style="float: right;">
  			<%= submit_tag("Search", :class => "submit", :style => "height: 34px; width: 100px;") %>
  		</div>
	</div>
<% end %>