<%= form_for([@profile, @profile.profile_urls.build]) do |f| %>
	<div class="field">
		<%= f.label :url %>
		<br />
		<%= f.text_field :url %>
	</div>
	<div class="field">
		<%= f.label :display_name %>
		<br />
		<%= f.select :display_name, options_for_select([['PlentyOfFish', 'PlentyOfFish'], ['Match.com', 'Match.com']]) %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>