<!DOCTYPE html>
<html>
<head>
  <title>Datecombinator</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="body-container">
		
		<div class="header-container">
			<div class="side-spacer" id="top-spacer">
				<%= render "shared/header" %>
			</div>
		</div>
		
		<div class="spacer"></div>
		
		<div class="search-container">
			<%= render "shared/search_form"%>
		</div>
		
		<div class="spacer"></div>
		
		<div class="content-container">
			<div id="search-results">
		    	<%= yield %>
		    </div>
		</div>
		
		<div class="spacer"></div>
		
	</div>
		
	<div class="footer-container">
		<%= render "shared/footer" %>
	</div>
	
</body>
</html>

<script type="text/javascript">
	$(document).ready(function(){
	    $('#search_form .submit').click(function() {
	    	$('#search-results').slideUp("slow");
			$('.content-container').prepend('<div id="ajax-loader"><img src="/assets/ajax-loader.gif" /></div>');
		});	
	});
</script>