<!DOCTYPE html>
<html>
<head>
  <title>Datecombinator</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="body-container">
		
		<div class="header-container">
			<div class="side-spacer" id="top-spacer">
				<%= render "shared/header" %>
			</div>
		</div>
		
		<div class="spacer"></div>
		
		<%= render :partial => "shared/notice", :locals => { :notice => notice, :alert => alert }%>
		
		<div id="search-container" class="splash-female">
			<div class="search-form">
				<%= render "shared/search_form"%>
			</div>
		</div>
			
		<div class="spacer"></div>
		
	</div>
		
	<div class="footer-container">
		<%= render "shared/footer" %>
	</div>
	
</body>
</html>